---
---

.code4sa {
  .navbar-brand img {
    height: 40px;
    margin-top: -10px;
  } 

  .navbar a.twitter {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

footer {
	padding: 20px;
	background-color: #EEE;
	border-top: #CCC;
}

.org {
	max-width: 150px;
	float: left;
	margin-right: 20px;
	.thumbnail {
		padding: 15px;
	}
	img {
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 0px;
	}
}
/* put SCSS here */
