---
layout: default
---
<header class="code4sa">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://code4sa.org">
          <img src="/img/code4sa-logo.png" alt="Code for South Africa"></a>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="twitter" href="https://twitter.com/@Code4SA"><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>

{{ content }}
