---
layout: default
---

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Black Sash MAVC Posters
        </a>
      </div>
      <div id="navbar" class="navbar-static-top">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#press_release">About</a></li>
          <li><a href="#collection">Collection</a></li>
          <li><a href="#cleaning">Cleaning</a></li>
          <li><a href="#analysis">Analysis</a></li>
          <li><a href="#presentation">Presentation</a></li>
          <li><a href="#posters">Posters</a></li>
        </ul>
      </div>
      <div class="navbar-right">
        <a href="#" class="navbar-brand-secondary">
              <img src="/img/code4sa-logo.png">
          </a>
      </div>
    </div>
  </nav>

<div class="row" style="padding: 20px 0px">
  <div class="col-sm-2 col-sm-offset-8">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
  </div>
  <div class="col-sm-2 " >
    <div class="fb-share-button" data-href="http://blacksashposters.code4sa.org/" data-layout="button_count"></div>
  </div>
</div>
{{ content }}

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        
      <a href="http://blacksash.org.za">
        <img src="/img/blacksash_logo.png" alt="Black Sash" style="width: 100%; padding: 20px; background-color: white">
        <p class="footer-heading">Black Sash</p>
      </a>  
    </div>

      <div class="col-sm-3">
        <a href="http://code4sa.org">
          
            <img src="/img/code4sa-logo.png" alt="Code for South Africa" style="width: 100%; padding: 20px; background-color: white">
            <p>Code for South Africa</p>
          
        </a>  
      </div>

      <div class="col-sm-3">
        <a href="http://schoolofdata.org">
          
            <img src="/img/schoolofdata.png" alt="School of Data" style="width: 100%; padding: 20px; background-color: white">
            <p>School of Data</p>
          
      
        </a>  
      </div>

       <div class="col-sm-3">
        <a href="http://indigotrust.org.uk">
          
            <img src="/img/indigo-logo.jpg" alt="Indigo Trust" style="width: 100%; padding: 20px; background-color: white">
            <p>Indigo Trust</p>
          
        </a>  
      
      </div>
    </div>
  </div>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=192976777417197";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
</div class="footer">